progressbar.row-progress-bar.clone trough progress {
  background-color: @yellow_5;
}

progressbar.row-progress-bar.fetch trough progress {
  background-color: @green_3;
}

progressbar.row-progress-bar.deltas trough progress {
  background-color: @purple_2;
}
