progressbar.row-progress.clone trough progress {
  background-color: @yellow_5;
}

progressbar.row-progress.fetch trough progress {
  background-color: @green_3;
}

progressbar.row-progress.deltas trough progress {
  background-color: @purple_2;
}
