button.controls {
  transition: border-radius 0.6s linear;
}

button.controls.with_bar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

progressbar.main-progress trough progress {
  background-image: linear-gradient(to right, @blue_3, @blue_2);
  border-radius: 6px 6px 0px 0px;
}

progressbar.row-progress trough progress {
  border-radius: 3px;
  transition: background-image 0.1s linear;
}

progressbar.row-progress.clone trough progress {
  background-image: linear-gradient(to right, @yellow_5, @yellow_4);
}

progressbar.row-progress.fetch trough progress {
  background-image: linear-gradient(to right, @green_5, @green_4);
}

progressbar.row-progress.deltas trough progress {
  background-image: linear-gradient(to right, @purple_3, @purple_2);
}
