[Desktop Entry]
Type=Application
Name=Dorst
Icon=org.hellbyte.dorst
Exec=dorst --gui
Comment=Codebase bootstrap and backup utility
Categories=Development;
Terminal=false
StartupNotify=true
